<h1>Current Tasks</h1>
<form method="post">
<% @current_tasks.each do |task| %>
  <input type="checkbox" name="completed[]" value="<%= task[2] %>">
  <%= task[0] %>: <%= task[1] %> <%= task[3] %>
  <br>
<% end %>
<h1>Completed Tasks</h1>
<% @completed_tasks.each do |task| %>
  <input type="checkbox" name="completed[]" value="<%= task[2] %>">
  <%= task[0] %>: <%= task[1] %> <%= task[3] %>
  <br>
<% end %>
<input type="submit" value="Complete Tasks">
</form>
<br>




<a href="/new" >Add Task </a>
