<div id="index">

<h1>Tasks</h1>


<% if @tasks == [] %>
  <p>
     You haven't set any tasks.
  </p>
<% else %>
  <table>
    <col width="400">
    <col width="150">
    <col width="150">
    <col width="150">
    <tr>
      <th>Task</th>
      <th>Completed?</th>
      <th>Delete</th>
      <th>Update</th>
    </tr>
    <% @tasks.each do |task| %>
    <tr>
      <td>
          <%= task[1] %> : <%= task[2] %>
      </td>
      <td>
        <form method="get" action="complete">
          <% if task[3] != nil %>
             <%= task[3] %>
          <% else %>
            <label><input type="checkbox" name="tasks_id[]" value="<%= task[0] %>"</label>
          <% end %>

      </td>
      <td>
        <a onclick="return confirm('Are you sure you want to delete this task?')" href="/delete/<%= task[0] %>">Delete Task</a>
      </td>
      <td>
        <a href="/update/<%= task[0] %>"> Update Task</a>
      </td>

    </tr>
    <% end %>
  </table>



  <!-- <ul>
  <% if @tasks == nil %>
    <p>
       You haven't set any tasks.
    </p>
  <% else %>
    <form method="get" action="complete">
    <% @tasks.each do |task| %>
      <li>
        <%= task[0] %> : <%= task[1] %>
        <a href="/delete/<%= task[0] %>">Delete Task</a>

        <% if task[2] != nil %>
          Task completed <%= task[2] %>
        <% else %>
          <label><input type="checkbox" name="tasks[]" value="<%= task[0] %>"</label>
        <% end %>

      </li>


    <% end %>
  <% end %>
  <button type="submit" name="completed_task" id="completed_task" value="completed task">Update completed task</button>

  </form>
   </ul> -->

   <% uncompleted = @tasks.find {|task| task[3] == nil} %>
   <% if uncompleted != nil %>
    <button type="submit" name="completed_task" id="completed_task" value="completed task">Update completed task</button>
  <% end %>



</form>

<% end %>
<!-- <p id="add_task"> -->
  <form action="new">
    <button type="submit" href="new" name="submit" id="submit" value="New Task">Add a new task</button>
  </form>
<!-- </p> -->

</div>
