<header>
  <h1>Shit to get done</h1>

  <div class="new-task"><a href= "/new">CREATE A NEW TASK</a></div>

  <hr />
</header>

<!-- <form action="/edit" method="post">
  <input class="modify-task" type="submit" name="edit" value="Edit shit">
</form> -->

<form action="#" method="post">
  <div class="list">
    <input class="modify-task" type="submit" name="submit" value="Mark complete">
    <input class="modify-task" type="submit" onclick="return confirm('Are you sure?')" name="delete" value="Delete shit">
      <% @tasks.each do |task| %>
        <% if task[3].nil? %>
          <div class="everything">
            <div class="task-descr">
              <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
              <div class="task"><%= task[1].upcase %></div>
              <div class="description"><%= task[2] %></div>
              <a class="modify-task" href="/edit?id=<%= task[0] %>">Edit shit</a>
            </div>
          </div>
        <% end %>
      <% end %>

    <% @tasks.each do |task| %>
      <% if !task[3].nil? %>
        <div class="everything">
          <div class="task-descr">
              <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
              <div class="done" class="task"><%= task[1].upcase %></div>
              <div class="done" class="description"><%= task[2] %></div>
          </div>
            <div class="date">
                Date completed: <%= task[3] %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</form>
