<header>
  <h1>Shit to get done</h1>

  <div class="new-task"><a href= "/new">CREATE A NEW TASK</a></div>

  <hr />
</header>

<div class="list">
  <% @tasks.each do |task| %>
    <% if task[3].nil? %>
      <div class="everything">
        <div class="task-descr">
            <div class="task"><%= task[1].upcase %></div>
          <!-- <% if task[3].nil? %> -->
            <div class="description"><%= task[2] %></div>
          <!-- <% end %> -->
        </div>

        <form action="#" method="post">
          <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
          <input class="mark-complete" type="submit" name="submit" value="Complete?">
        </form>
    </div>
    <% end %>
  <% end %>

    <% @tasks.each do |task| %>
      <% if !task[3].nil? %>
        <div class="everything">
          <div class="task-descr">
              <div class="done" class="task"><%= task[1].upcase %></div>
              <div class="done" class="description"><%= task[2] %></div>
          </div>
            <div class="date">
                Date completed: <%= task[3] %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
