<html>
  <head>
    <link href="css/christmas.css" rel="stylesheet">
    <title>Tasks!</title>
    <link rel="shortcut icon" href="http://38.media.tumblr.com/avatar_cf24d676af93_128.png">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter|Gudea|Gloria+Hallelujah|Reenie+Beanie' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <div id="container">
      <img src="christmas-to-do-list.gif" alt="Christmas To Do List" id="header_image" />
      <form method="post">
        <table>
          <tr>
            <th>
              Name
            </th>
            <th>
              Description
            </th>
            <th>
              Date
            </th>
            <th>
              <input type="submit" name="submit" value="Delete Checked" class="table_button" onclick="return confirm('Are you sure? Deleting is permanent!')">
            </th>
            <th>
              <input type="submit" name="submit" value="Update Selected" class="table_button">
            </th>
          </tr>
          <% @tasks.each do |task| %>
            <tr>
              <td>
                <%= task[1] %>
              </td>
              <td>
                <%= task[2] %>
              </td>
              <td>
                <%= task[3] %>
              </td>
              <td>
                  <label><input type="checkbox" name="tasks_to_delete[]" value="<%= task[0] %>"></label>
              </td>
              <td>
                  <label><input type="radio" name="task_to_edit" value="<%= task[0] %>"></label>
              </td>
            </tr>
          <% end %>
        </table>
      </form>
      <p>
        <a href="christmas/new">Click here to add a new task</a>
      </p>
    </div>
    <div class="pusheen">
      <img src="sing-carols.gif" alt="Sing carols" />
      <img src="make-cookies.gif" alt="Make cookies" />
      <img src="time-with-family.gif" alt="Spend time with family" />
    </div>
    <div class="pusheen">
      <img src="wait-for-santa.gif" alt="Wait for Santa" />
      <img src="wrap-gifts.gif" alt="Wrap gifts" />
      <img src="decorate-tree.gif" alt="Decorate the tree" />
    </div>
  </body>
</html>
