


<form action="#" method="post">
  <h1>Shit to get done</h1>
  <div class="center">
    <a class="modify-task" id="create-new-task" href= "/new">CREATE NEW TASK</a>
    <span class="pipe">|</span>
    <input class="modify-task" type="submit" name="submit" value="MARK COMPLETE">
    <span class="pipe">|</span>
    <input class="modify-task" type="submit" onclick="return confirm('Are you sure?')" name="delete" value="DELETE">
  </div>
    <hr />
    <div class="list">
      <% @tasks.each do |task| %>
        <% if task[3].nil? %>
          <div class="everything">
            <div class="task-descr">
              <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
              <div class="task"><%= task[1].upcase %></div>
              <div class="description"><%= task[2] %></div>
              <a class="edit-task" href="/edit?id=<%= task[0] %>">EDIT</a>
            </div>
          </div>
        <% end %>
      <% end %>

    <% @tasks.each do |task| %>
      <% if !task[3].nil? %>
        <div class="everything">
          <div class="task-descr">
              <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
              <div class="done" class="task"><%= task[1].upcase %></div>
              <div class="done" class="description"><%= task[2] %></div>
          </div>
            <div class="date">
                Date completed: <%= task[3] %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</form>
