<header>
  <h1>Shit to get done</h1>

  <div class="new-task"><a href= "/new">CREATE A NEW TASK</a></div>

  <hr />
</header>

<form action="#" method="post">
  <div class="list">
    <input class="mark-complete" type="submit" name="submit" value="Mark complete">
      <% @tasks.each do |task| %>
        <% if task[3].nil? %>
          <div class="everything">
            <div class="task-descr">
              <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
              <div class="task"><%= task[1].upcase %></div>
              <div class="description"><%= task[2] %></div>
            </div>

          </div>
        <% end %>
      <% end %>

    <% @tasks.each do |task| %>
      <% if !task[3].nil? %>
        <div class="everything">
          <div class="task-descr">
              <div class="done" class="task"><%= task[1].upcase %></div>
              <div class="done" class="description"><%= task[2] %></div>
          </div>
            <div class="date">
                Date completed: <%= task[3] %>
            </div>
        </div>
      <% end %>
    <% end %>
  </div>
</form>
