<h1>Shit to get done</h1>

<div class="new-task"><a href= "/new">CREATE A NEW TASK</a></div>

<hr />

<div class="list">
  <% @tasks.each do |task| %>
    <div class="everything">
      <form action="#" method="post">
        <input class="checkbox" type="checkbox" name="completed[]" value="<%= task[0] %>" >
        <input class="mark-complete" type="submit" name="submit" value="Mark complete">
      </form>
      <div class="task-descr">
        <% if !task[3].nil? %>
          <div class="done" class="task"><%= task[1] %></div>
        <% else %>
          <div class="task"><%= task[1] %></div>
        <% end %>

        <% if !task[3].nil? %>
          <div class="done" class="description"><%= task[2] %></div>
        <% else %>
          <div class="description"><%= task[2] %></div>
        <% end %>

      </div>
      <div class="date">
          Date completed: <%= task[3] %>
      </div>
    </div>
  <% end %>
</div>
